/* body tag */
body {
  background-color: #d9ddf3;
  font-family: 'Georgia', serif;
  color: #234891;
  margin: 0;
  padding: 0;
}

/* H1 tag */
h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 36px;
  font-family: 'Georgia', serif;
  text-align: center; /* Center align text*/
}

 /* H2 and H3 tags */
 h2 {
  padding-top: 10px;
  font-size: 24px;
  font-family: 'Georgia', serif;
  color: #1c2d50;
}
h3 {
  padding-top: 10px;
  font-size: 18px;
  font-family: 'Georgia', serif;
  color: #0a1e46;
}


/* P tags */
p {
  line-height: 1.5;
}

/* Images */
img {
  border: 5px solid #162c4d;
  padding: 10px;
  margin: 20px;
  border-top-right-radius: 30px;
}
video {
  border: 5px solid #162c4d;
  padding: 10px;
  margin: 20px;
  border-top-right-radius: 30px;
}
/* List items */
li {
  display: inline-block;
  margin-left: 50px;
}
